# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: Test
        run: |
          ulimit -n 2048 ; go test -v ./... -covermode=count -coverprofile=covprofile.tmp
          cat covprofile.tmp | grep -v "generated" | grep -v "admin" > covprofile

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -coverprofile=covprofile -service=github